@import url('https://fonts.googleapis.com/css?family=Montserrat|Roboto');
* {box-sizing:border-box;}
body {
  background: yellow;
  color:black;
  font-family: 'Montserrat', sans-serif;
  font-weight:900;
}
header {
  font-family: 'Roboto', sans-serif;
  text-align:center;
}
nav ul {
  border:1px solid black;
  padding-left:0;
  max-width:280px;
  text-align:center;
  margin:0 auto;
  font-size: 1.2rem;
  background-color: green;
}

nav li {
  border: 1px solid white;
  list-style-type:none;
  padding:2px;
}
nav li a {
  text-decoration:none;
  margin-left:0;
  color:yellow;
}
main {
  background-color: rgba(74, 135, 24, 0.9);
  border:1px solid black;
  padding:20px 10px;
}
.main-section {
  padding:0 10px;
}
@media (min-width:1090px) {
  .example {
    padding:0;
  }  
  .example li {
      list-style: none;
    }
}
h2 {
  text-align:center;
  color:yellow;
  border:2px dotted yellow;
  padding:5px 0;
  max-width: 700px;
  margin: 0 auto;
}
pre {
  border:1px solid black;
  background-color: white;
  margin: 0 5%;
  padding:5px 15px;
  margin-bottom: 20px;
} 
.attention {
  background-color:orange;
  margin: 20px auto;
  padding: 10px;
  border: 2px outset yellow;
}
@media (max-width:840px) {
  pre {
    overflow-y: hidden;
    overflow-x: scroll;
	  max-width: 1000px;
    padding: 10px;
  }
  #navbar {
    background-color:yellow;
    position:absolute;
    top:0;
    padding:0;
    margin: 0;
    width:100%;
    max-height:275px;
    border:none;
    z-index:1;
    float:none;
  }
  main {
    margin-top:275px;
    z-index:2;
  }
  #main-doc{
    position: relative;
    margin-left:0px;
    margin-top:275px;
  }
}
@media (min-width:840px) {
  #navbar {
    height: 270px;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    padding: 0 15px;
    background-color: yellow;
    border: 1px solid black;
  }
}